<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <script src="@Assets["theme.js"]"></script>
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["O11yPartyBuzzer.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]" onerror="window.__blazorWebFailed = true"></script>
    <script>
        if (window.__blazorWebFailed) {
            var fallback = document.createElement('script');
            fallback.src = './_framework/blazor.server.js';
            document.body.appendChild(fallback);
        }
    </script>
</body>

</html>